.footer-container {
  position: relative;
  background: var(--footer);
}

.footer {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  height: 30rem;
}

.social-links {
  display: flex;
  gap: 4rem;
}

.social-links > img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.social-links-img {
  width: 5rem;
}

.logo-f img {
  width: 15rem;
}

@media screen and (max-width: 375px) {
  .social-links-img {
    width: 2rem;
  }
  
  .logo-f img {
    width: 10rem;
  }

  .footer{
    height: 20rem;
  }
}
